.product-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.product-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-card-details {
  margin-top: 10px;
}

.product-name {
  font-size: 16px;
  margin-bottom: 5px;
}

.product-price {
  font-weight: bold;
}
  